* {
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;

}

h1, h2, h3 {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}



a {
  text-decoration: none;
  color: black;
}



main {

  opacity: 0;
  animation: main-show 500ms ease-in-out forwards;
  

}


@keyframes main-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}